@charset "utf-8";

body {
    background-image: url(img/white-paper-bg-L.jpg);
    background-position: center;
    background-size: cover;
}
.container {
    background-color: #fff;
    border-radius: 5px;
}
.process {
    list-style: decimal;
    padding-left: 30px;
}
@media (min-width: 768px) {
    .process {
        padding-left: 80px;
    }
}