@charset "utf-8";

body {
    background-image: url(img/white-paper-bg-L.jpg);
    background-position: center;
    background-size: cover;
}
.container {
    background-color: #fff;
    border-radius: 5px;
}
.process {
    list-style: decimal;
    padding-left: 30px;
}
@media (min-width: 768px) {
    .process {
        padding-left: 80px;
    }
    /* PC画面では手順の各項目を改行しない */
    .process br {
        display: none;
    }
}

/* 警告メッセージの表示 / 非表示の切り替え */
.msgWarning {
    display: none;
}
.msgWarning.show {
    display: block;
}